*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
.header{
    display: flex;
    padding: 20px 0px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    box-shadow: 1px 0px 10px black;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: white;
}

.navbar{
    display: flex;
}
.navbar ul{
    display: block;
}
.navbar ul li{
    font-size: 1em;
    padding: 0px 10px;
    font-family: sans-serif;
    display: inline-block;
    cursor: pointer;
}
.navbar ul li:hover{
    color: brown;
}
.icon{
    display: flex;
}
#btn{
    display: none;
}
.slide{
    width: 100%;
    transition: all 0.4 ease;
    position: relative;
}
.slide img{
    width: 100%;
}
.btn-slide-r{
    position: absolute;
    padding: 10px;
    top: 30%;
    border: 0;
    background-color: black;
    color: white;
    right: 10px;
}
.btn-slide-l{
    position: absolute;
    padding: 10px;
    top: 30%;
    left: 10px;
    border: 0;
    background-color: black;
    color: white;
}
.content{
    text-align: center;
    font-size: 1em;
    width: 100%;
    margin: 40px auto;
}
.content h1{
    font-family: sans-serif;
    font-size: 2.3em;
}
.content h4{
    font-family: sans-serif;
    font-size: 1.4em;
}
.Product{
    width: 100%;
}
.car-product{
    width: 95%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}
.img-product{
    box-shadow: 0px 0px 2px 0px black;
    border: 0px solid;
    border-radius: 10px;
    width: 100%;
    margin: auto;
    text-align: center;
}
.img-product img{
    width: 100%;
    margin: auto;
}
.text-product{
    width: 100%;
}
.text-product p{
    font-family: sans-serif;
    width: 90%;
    padding: 10px 0px;
    text-align: start;
    margin: auto;
}
.content-box{
    align-items: center;
    display: flex;
    padding: 10px 0px;
    width: 100%;
    margin: 40px auto 0px;
    background-color: rgb(255,221,221);
}
.content-box-l{
    width: 100%;
}
.content-box-l img{
    width: 100%;
}
.content-box-r{
    width:100%;
    margin: auto;
}
.text-content{
    font-family:HCo Gotham SSm,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    width: 80%;
    margin: auto;
}
#btnlink{
    border: 1px solid;
    padding: 10px;
    width: 20%;
    
    border-radius: 30px;
    text-align: center;
    margin: 30px auto;
}
#btnlink a{
    text-decoration: none;
    color: black;
}
.content-box-2{
    background-color: rgb(217,251,250);
    align-items: center;
    display: flex;
    padding: 10px 0px;
    width: 100%;
    margin: 40px auto;
    flex-direction: row-reverse;
}
.content-box-r-2{
    width: 100%;
}
.text-content-2{
    width: 98%;
}
.content-box-3{
    background-color: rgb(255,247,203);
}
.laptop-img{
    width: 60%;
    margin: auto;
}
.laptop-img img{
    width: 100%;
}
.content-2{
    width: 100%;
    display: grid;
    margin: 10px auto;
    gap: 10px;
    grid-template-columns: repeat(2,1fr);
}
.content-laptop-1{
    display: flex;
    flex-direction: column;
    gap: 40px;
    background-color: rgb(242,246,250);
}
.content-laptop-2{
    background-color: rgb(242,246,250);
}
.text-t{
    text-align: center;
    width: 70%;
    margin:40px auto;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.text-t .h1, .p-text, .btn-link{
    font-family:HCo Gotham SSm,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif ;
}
.btn-link{
    width: 100%;
}
.btn-link a{
    width: 100%;
    text-decoration: none;
    color: black;
    border: 1px solid;
    padding: 10px 40px;
    border-radius: 40px;
}
.container{
    width: 100%;
    background-color: rgb(249,249,249);
}
.container-text{
    width: 90%;
    text-align: center;
    margin:0px auto;
    padding: 40px 0px;
    font-family:HCo Gotham SSm,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif  ;
}
.offering{
    width: 100%;
    display: grid;
    gap: 0px;
    margin: 40px auto;
    grid-template-columns: repeat(2,1fr);
}
.offering-1{
    padding: 30px 0px;
    width: 90%;
    display: flex;
    margin: auto;
    align-items: center;
    background-color: white;
    box-shadow: 0px 0px 7px 0px rgb(201, 199, 199);
    border-radius: 14px;
}
.offering-2{
    width: 90%;
    padding: 30px 0px;
    margin: auto;
    box-shadow: 0px 0px 7px 0px rgb(201, 199, 199);
    border-radius: 14px;
    background-color: white;
    display: flex;
    align-items: center;
}
.offering-content{
    width: 100%;
}
.offering-content-text{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: HCo Gotham SSm,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif  ;
}
.offering-img{
    text-align: center;
    margin: auto;
    width: 100%;
}
.offering-img img{
    width: 60%;
}
.offering-img-1{
    width: 100%;
    text-align: center;
}
.offering-img-1 img{
    width: 60%;
}
#h11{
    text-align: center;
    font-family: HCo Gotham SSm,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}
.service{
    width: 100%;
    margin: 80px auto 0px;
    padding: 0px 0px 40px;
    display: grid;
    place-items: center;
    align-items: center;
    grid-template-columns: repeat(3,1fr);
}
.service-1,.service-2,.service-3{
    width: 86%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}
.service-img-1{
    width: 100%;
    text-align: center;
}
.service-img-2{
    width: 100%;
    text-align: center;
}
.service-img-3{
    width: 100%;
    text-align: center;
}
.service-img-1 img{
    width: 44%;
}
.service-img-2 img{
    width: 30%;
}
.service-img-3 img{
    width: 30%;
}
.service-content{
    width: 100%;
    text-align: center;
    font-family: HCo Gotham SSm,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}
#h111{
    font-family: HCo Gotham SSm,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    text-align: center;
    margin: 60px auto 0px;
}
.license{
    width: 100%;
    margin: 30px 0px;
}
.width-l{
    width: 95%;
    display: grid;
    margin: auto;
    gap: 20px;
    grid-template-columns: repeat(4,1fr);
}
.company{
    width: 100%;
    border: 0px solid gray;
    box-shadow: 0px 0px 7px 0px rgb(193, 191, 191);
}
.company img{
    width: 100%;
}
.rating{
    width: 100%;
    text-align: center;
    padding: 0px 0px 30px;
}
.rating span{
    color: rgb(255, 215, 0);
    font-size: 3em;
}
.end{
    width: 100%;
    box-shadow: 0px 0px 3px 0px rgb(118, 116, 116);
}
.end-text{
    width: 90%;
    padding: 20px 0px;
    margin: auto;
   font-family:HCo Gotham SSm,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}
footer{
    background-color: black;
}
#footer-text{
    color: white;
    padding: 10px;
}
@media screen and (max-width:600px) {
    .navbar{
        width: 100%;
        display: block;
    } 
    .logo{
        width: 100%;
    }
    .logo img{
        width: 100%;
        margin: auto 10px;
    }
    .icon{
        display: none;
    }
    .navbar ul{
        position: absolute;
        left: 0;
        top:100%;
        transform: scale(0);
        width: 100%;
        z-index: 10000;
        background-color: black;
        color: aliceblue;
        transition: all 0.5s ease;
    }
    .navbar ul li{
        display: block;
    }
    #btn{
        padding: 10px;
        position: absolute;
        right: 10px;
        border: 0px;
        border-radius: 10px;
        display: block;
    }
    .content{
        width: 100%;
        font-family: sans-serif;
        font-size:0.8em;
        text-align: center;
        margin: 10px 0px;
    }
    #img-pro{
        display: flex;
        flex-wrap: wrap;
    }
    .img-product{
        width: 100%;
    }
    .img-product img{
        width: 50%;
    }
    .Product{
        overflow: hidden;
        width:100%;
    }
    .text-product{
        width: 100%;
    }
    .content-box{
        flex-wrap: wrap-reverse;
    }
    #btnlink{
        width: 30%;
    }
    .content-box-2{
        text-align: center;
    }
    .content-2{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .laptop-img{
        width: 100%;
        margin: 10px auto;
    }
    .text-t{
        width: 90%;
    }
    .offering{
        grid-template-columns: repeat(1,1fr);
        gap:10px;
        margin: 40px auto;
    }
    .offering-content-text{
        font-size: 0.6em;
    }
    .service{
        grid-template-columns: repeat(1,1fr);
    }
    .width-l{
        grid-template-columns: repeat(1,1fr);
    }
}